.description-container {
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.map-container {
  background-image: url("../../../../assets/map_hungary.png");
  height: 500px;
  background-size: cover;
  background-position: center;
}

.map-title {
  margin-top: 2vh;
  background-color: #2E8B57;
  color: white;
  width: 40vw;
  height: 75px;
  text-align: right;
}

.comments-title {
  width: 40%;
  height: 75px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2E8B57;
  margin-top: 2vh;
}

.chat-bubbles {
  width: 80%;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 35px;
}

.title-h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.map-title-h1 {
  right: 10%;
}

.description-title {
  background-color: #2E8B57;
  color: white;
  width: 40vw;
  height: 75px;
  text-align: right;
}

.image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1vw;
  width: 40vw;
  height: 30vw;
  background-image: url("../../../../assets/jatszoter_1.jpg");
  background-size: cover;
}

.design-item {
  position: relative;
  right: 0%;
  height: 32vw;
  width: 52vw;
  background-color: #2E8B57;
}

td {
  padding-left: 10vw;
}

ul {
  padding-left: 0px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 1019px) {

  .map-container {
    height: 100vh;
    background-position-x: 955px;
  }

  .map-title {
    width: 100%;
    text-align: center;
  }
  h1 {
    position: relative;
    right: 0%;
  }
}
