<body>
  <table>
    <tr>
      <th colspan="6">
        <h1>
          Kosár
        </h1>
      </th>
    </tr>
    <tr>
      <th class="picture">
        Termék kép
      </th>
      <td>
        Termék neve
      </td>
      <td>
        Egységár
      </td>
      <td class="amount">
        Mennyiség
      </td>
      <td>
        Ár összesen
      </td>
      <td class="last">
        Eltávolítás
      </td>
    </tr>
    <tr class="contentOfCart">
      <th colspan="6">
        <div class="emptyCar" *ngIf="productsInCart.length == 0">
          <h2>
            Nincs még termék a kosarában!
          </h2>
        </div>
        <div *ngFor="let product of productsInCart; index as i">
          <app-product-cart-line [product]="productsInCart[i]"></app-product-cart-line>
        </div>
      </th>
    </tr>
    <tr>
      <th class="return-to-webshop" colspan="3">
        <button (click)="navigateToPage('')" class="back-to-shopping btn btn-light">
          Vissza a webshopra
        </button>
      </th>
      <th class="checkout" colspan="3">
        <h1>
          Anyagár összesen: {{totalPriceInHUF}}
        </h1>
        <button class="btn btn-secondary">
          Megrendelem
        </button>
      </th>
    </tr>
  </table>


</body>
