body {
  height: 100vh;
}

table {
  width: 60vw;
  margin: 10px auto;
}

picture {
  width: 100px !important;
}

td {
  width: 20%;
  font-weight: bold;
}

td, th {
  text-align: center;
}

.last {
  width: 60px;
}

.amount {
  width: 200px;
  text-align: right;
}

.checkout {
  text-align: right;
}

.return-to-webshop {
  text-align: left;
}

.back-to-shopping {
  background-color: #f8f9fa !important;
  color: black;
  border-color: #f8f9fa;
  transition: .4s;
}

.back-to-shopping:hover {
  background-color: gray !important;
  color: white;
  transition: .4s;
}
