table {
  width: 100%;
}
th {
  width: 50%;
  text-align: center;
}

.list-colour {
  background-color: transparent;
  text-align: center;
  padding: 0px;
}

.details,  {
  //background-color: #f8f9fa;
  background-color: transparent;
  border-color: transparent;
  transition: .5s;
  border-radius: 10px;
}

.details:hover {
  z-index: 100;
  transition: .5s;
  cursor: pointer;
}

button {
  z-index: 99;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hidden {
  display: none;
}

.card-body {
  padding: 0px;
}

h5 {
  padding-top: 20px;
}
