<table class="contacts-container">
  <tr>
    <td rowspan="2">
      <img class="image" src="../../../../assets/icons8-team-r-enAOPw8Rs-unsplash.jpg">
    </td>
    <td class="text">
      <h1>
        Kapcsolat
      </h1>
    </td>
  </tr>
  <tr>
    <td class="text">
      <div *ngFor="let t of texts">
        <p>{{t}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h2>
        Hívjon minket bizalommal! Készségesen válaszolunk minden kérdésére.
      </h2>
    </td>
  </tr>
</table>
