table {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.first-row {
  height: 100px;
}

.side-containers {
  vertical-align: top;
}

.padding-top {
  padding-top: 100px;
}

p, h1 {
  padding-left: 50px;
  padding-right: 50px;
}

th {
  width: 20%;
}


@media only screen and (max-width: 1019px) {
  table, th, td {
    display: block;
  }

  .dimensions {
    width: 80vw;
  }
}
