<body>
<table>
  <tr>
    <td class="left-column"></td>
    <th class="title-row">
      <h1>
        {{pageTitle}}
      </h1>
    </th>
  </tr>
  <tr>
    <td class="left-column">
      <app-filter [parent]="productsPage"></app-filter>
      <app-categories></app-categories>
    </td>
    <th>
      <ul>
        <li *ngFor="let product of productsShown; index as i">
          <app-overview-block [index]="i" [product]="product" [onProductsPage]="true"></app-overview-block>
        </li>
      </ul>
    </th>
  </tr>
</table>
</body>
