<table>
  <tr>
    <th class="first">
      Szélesség (m):
    </th>
    <th class="second">
      {{productDimensions.widthInMetre}} m
    </th>
  </tr>
  <tr class="nth-row">
    <th class="first">
      Magasság (m):
    </th>
    <th class="second">
      {{productDimensions.heightInMetre}} m
    </th>
  </tr>
  <tr>
    <th class="first">
      Mélység (m):
    </th>
    <th class="second">
      {{productDimensions.depthInMetre}} m
    </th>
  </tr>
  <tr class="nth-row">
    <th class="first">
      Súly (kg):
    </th>
    <th class="second">
      {{productDimensions.weightInKg}} kg
    </th>
  </tr>
  <tr>
    <th class="first">
      Anyagok:
    </th>
    <th class="second">
      {{productDimensions.material}}
    </th>
  </tr>
</table>
