/* You can add global styles to this file, and also import other style files */
ul {
  list-style: none;
}

/*
  Colours:
    background colour: white
    colour of elements:
    colour of buttons: #1F67C4
    colour of buttons:hover: #00378B

 */

.navbar {
  background-color: #1F67C4 !important;
}



.btn {
  background-color: #1F67C4;
  color: white;
  border-color: #1F67C4;
  transition: .4s;
}

.btn:hover {
  background-color: #00378B;
  border-color: #00378B;
  color: white;
  transition: .4s;
}

.details {
  transition: all .1s ease-in-out;
}

.details:hover {
  background-color: #A6CFFF !important;
  transform: scale(1.01);
}

.footer {
  background-color: #1F67C4 !important;
  color: white !important;
  margin: 0;
}

.filter {
  background-color: #f8f9fa !important;
}
