body {
  margin: 100px auto;
}

table {
  background-color: #f8f9fa !important;
  width: 200px;
  border-radius: 10px;
}

th, td {
  text-align: center;
}

.slider {
  width: 180px;
  margin: 0px auto;
}

.order-type {
  margin-bottom: 5px;
}

.last-row {
  padding-bottom: 10px;
  padding-top: 10px;
}
