body {
  margin: 25px auto;
}

table {
  width: 200px;
  border-radius: 10px;
}

th, td {
  text-align: center;
}

.slider {
  width: 180px;
  margin: 0px auto;
}

.order-type {
  margin-bottom: 5px;
}

.last-row {
  padding-bottom: 10px;
  padding-top: 10px;
}

input[type=range]::-webkit-slider-thumb {
  background: #1F67C4;
}
input[type=range]::-moz-range-thumb {
  background: #1F67C4;
}
input[type=range]::-ms-thumb {
  background: #1F67C4;
}
